.terraform.*
*.tfstate
*.tfstate.backup
.terraform
terraform.tfstate

# Additional Terraform files to ignore
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
